.DS_Store
*.asv

# Generated simulation files
simv
*.daidir
csrc
vcs.key
program.out
sim
verdi
syn_simv
syn_simv.daidir
syn_program.out
dve
*.vpd
*.vcd
*.dump
ucli.key
inter.fsdb
novas*
verdiLog

# DVE files
DVEfiles/
