Magic 271485
Revision Verdi_V-2023.12-SP2-1

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1275 391 330 116

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/zyning/eecs598/project/WinoCNN/inter.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 1607.786258 3607.786258
cursor 9150.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 22
; marker line index
markerPos 34

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/zyning/eecs598/project/WinoCNN/inter.fsdb"
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/main/weight_od1_o[7:0]
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/main/input_addr_o_1[7:0]
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/main/input_addr_o_2[7:0]
addSignal -h 15 /top_test_2/top_0/main/size_type_o
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/main/block_cnt_o[7:0]
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/main/current_id_o[3:0]
addSignal -h 15 /top_test_2/top_0/main/input_request_o
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/main/input_addr_o_1[7:0]
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/main/input_addr_o_2[7:0]
addSignal -h 15 /top_test_2/top_0/main/loop_finished
addSignal -h 15 /top_test_2/top_0/main/input_request_o
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/main/current_id_o[3:0]
addGroup "G2"
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/data_mem_controller_top_0/data_controller_inst/input_addr_i_1[7:0]
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/data_mem_controller_top_0/data_controller_inst/input_addr_i_2[7:0]
addSignal -h 15 /top_test_2/top_0/data_mem_controller_top_0/data_controller_inst/size_type_i
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/data_mem_controller_top_0/data_controller_inst/block_cnt_i[7:0]
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/data_mem_controller_top_0/data_controller_inst/current_id_i[3:0]
addSignal -h 15 /top_test_2/top_0/data_mem_controller_top_0/data_controller_inst/input_request_i
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/data_mem_controller_top_0/data_controller_inst/input_addr_o_1[7:0]
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/data_mem_controller_top_0/data_controller_inst/input_addr_o_2[7:0]
addSignal -h 15 /top_test_2/top_0/data_mem_controller_top_0/data_controller_inst/input_request_o
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/data_mem_controller_top_0/data_controller_inst/input_data_i_1[511:0]
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/data_mem_controller_top_0/data_controller_inst/input_data_i_2[511:0]
addSignal -h 15 /top_test_2/top_0/data_mem_controller_top_0/data_controller_inst/input_valid_i
addSignal -h 15 /top_test_2/top_0/data_mem_controller_top_0/data_controller_inst/result_tile_o_1[5:0]
addSignal -h 15 /top_test_2/top_0/data_mem_controller_top_0/data_controller_inst/result_tile_o_2[5:0]
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/data_mem_controller_top_0/data_controller_inst/pe_data_addr_o_1[7:0]
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/data_mem_controller_top_0/data_controller_inst/pe_data_addr_o_2[7:0]
addSignal -h 15 /top_test_2/top_0/data_mem_controller_top_0/data_controller_inst/data_valid_o_1
addSignal -h 15 /top_test_2/top_0/data_mem_controller_top_0/data_controller_inst/data_valid_o_2
addSignal -h 15 /top_test_2/top_0/data_mem_controller_top_0/data_controller_inst/size_type_o
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/data_mem_controller_top_0/data_controller_inst/block_cnt_o[7:0]
addSignal -h 15 /top_test_2/reset
addGroup "G3"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

