Magic 271485
Revision Verdi_V-2023.12-SP2-1

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1625 712 353 151

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/wenjieg/Desktop/class/WinoCNN/inter.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 2493.345529 2688.537554
cursor 2610.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 10
; marker line index
markerPos 61

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/wenjieg/Desktop/class/WinoCNN/inter.fsdb"
addSignal -h 15 /data_mem_top_test/clk
addSignal -h 15 /data_mem_top_test/clk
addSignal -h 15 /data_mem_top_test/data_mem_controller_top_1/clk
addSignal -h 15 /data_mem_top_test/data_mem_controller_top_1/reset
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/data_mem_controller_top_1/input_id_i[3:0]
addSignal -h 15 /data_mem_top_test/data_mem_controller_top_1/input_prepare_i
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/data_mem_controller_top_1/block_width_i[7:0]
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/data_mem_controller_top_1/block_height_i[7:0]
addSignal -h 15 /data_mem_top_test/data_mem_controller_top_1/size_type_i
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/data_mem_controller_top_1/scan_in[511:0]
addSignal -h 15 /data_mem_top_test/data_mem_controller_top_1/scan_mode
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/data_mem_controller_top_1/scan_addr[7:0]
addSignal -h 15 /data_mem_top_test/data_mem_controller_top_1/loop_finished_o
addSignal -h 15 /data_mem_top_test/data_mem_controller_top_1/result_tile_o_1[5:0]
addSignal -h 15 /data_mem_top_test/data_mem_controller_top_1/result_tile_o_2[5:0]
addSignal -h 15 -UNSIGNED -UDEC /data_mem_top_test/data_mem_controller_top_1/pe_data_addr_o_1[7:0]
addSignal -h 15 -UNSIGNED -UDEC /data_mem_top_test/data_mem_controller_top_1/pe_data_addr_o_2[7:0]
addSignal -h 15 /data_mem_top_test/data_mem_controller_top_1/data_valid_o
addSignal -h 15 /data_mem_top_test/data_mem_controller_top_1/size_type_o
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/data_mem_controller_top_1/block_cnt[7:0]
addGroup "G2"
addSignal -h 15 /data_mem_top_test/data_mem_controller_top_1/clk
addSignal -h 15 /data_mem_top_test/data_mem_controller_top_1/reset
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/data_mem_controller_top_1/scan_in[511:0]
addSignal -h 15 /data_mem_top_test/data_mem_controller_top_1/scan_mode
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/data_mem_controller_top_1/scan_addr[7:0]
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/data_mem_controller_top_1/input_addr_o_1[7:0]
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/data_mem_controller_top_1/input_addr_o_2[7:0]
addSignal -h 15 /data_mem_top_test/data_mem_controller_top_1/input_request_o
addSignal -h 15 /data_mem_top_test/data_mem_controller_top_1/input_request_o
addSignal -h 15 -UNSIGNED -UDEC /data_mem_top_test/data_mem_controller_top_1/data_1_out[511:0]
addSignal -h 15 -UNSIGNED -UDEC /data_mem_top_test/data_mem_controller_top_1/data_2_out[511:0]
addSignal -h 15 -UNSIGNED -UDEC /data_mem_top_test/data_mem_controller_top_1/addr_1_out[7:0]
addSignal -h 15 -UNSIGNED -UDEC /data_mem_top_test/data_mem_controller_top_1/addr_2_out[7:0]
addSignal -h 15 /data_mem_top_test/data_mem_controller_top_1/input_valid_i
addSignal -expanded -h 15 /data_mem_top_test/data_mem_controller_top_1/data_controller_inst/input_raw_1[5:0]
addSignal -h 15 /data_mem_top_test/data_mem_controller_top_1/data_controller_inst/input_raw_1[5][5:0]
addSignal -h 15 /data_mem_top_test/data_mem_controller_top_1/data_controller_inst/input_raw_1[4][5:0]
addSignal -h 15 /data_mem_top_test/data_mem_controller_top_1/data_controller_inst/input_raw_1[3][5:0]
addSignal -h 15 /data_mem_top_test/data_mem_controller_top_1/data_controller_inst/input_raw_1[2][5:0]
addSignal -h 15 /data_mem_top_test/data_mem_controller_top_1/data_controller_inst/input_raw_1[1][5:0]
addSignal -expanded -h 15 /data_mem_top_test/data_mem_controller_top_1/data_controller_inst/input_raw_1[0][5:0]
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/data_mem_controller_top_1/data_controller_inst/input_raw_1[0][5][7:0]
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/data_mem_controller_top_1/data_controller_inst/input_raw_1[0][4][7:0]
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/data_mem_controller_top_1/data_controller_inst/input_raw_1[0][3][7:0]
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/data_mem_controller_top_1/data_controller_inst/input_raw_1[0][2][7:0]
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/data_mem_controller_top_1/data_controller_inst/input_raw_1[0][1][7:0]
addSignal -h 15 -UNSIGNED -UDEC /data_mem_top_test/data_mem_controller_top_1/data_controller_inst/input_raw_1[0][0][7:0]
addSignal -expanded -h 15 /data_mem_top_test/data_mem_controller_top_1/data_controller_inst/input_raw_2[5:0]
addSignal -h 15 /data_mem_top_test/data_mem_controller_top_1/data_controller_inst/input_raw_2[5][5:0]
addSignal -h 15 /data_mem_top_test/data_mem_controller_top_1/data_controller_inst/input_raw_2[4][5:0]
addSignal -h 15 /data_mem_top_test/data_mem_controller_top_1/data_controller_inst/input_raw_2[3][5:0]
addSignal -h 15 /data_mem_top_test/data_mem_controller_top_1/data_controller_inst/input_raw_2[2][5:0]
addSignal -h 15 /data_mem_top_test/data_mem_controller_top_1/data_controller_inst/input_raw_2[1][5:0]
addSignal -expanded -h 15 /data_mem_top_test/data_mem_controller_top_1/data_controller_inst/input_raw_2[0][5:0]
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/data_mem_controller_top_1/data_controller_inst/input_raw_2[0][5][7:0]
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/data_mem_controller_top_1/data_controller_inst/input_raw_2[0][4][7:0]
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/data_mem_controller_top_1/data_controller_inst/input_raw_2[0][3][7:0]
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/data_mem_controller_top_1/data_controller_inst/input_raw_2[0][2][7:0]
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/data_mem_controller_top_1/data_controller_inst/input_raw_2[0][1][7:0]
addSignal -h 15 -UNSIGNED -UDEC /data_mem_top_test/data_mem_controller_top_1/data_controller_inst/input_raw_2[0][0][7:0]
addSignal -h 15 /data_mem_top_test/data_mem_controller_top_1/package_2_valid_out
addGroup "G3"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

