Magic 271485
Revision Verdi_V-2023.12-SP2-1

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 2243 1037 330 116

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/wenjieg/Desktop/class/WinoCNN/inter.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 2638.808746 3293.935971
cursor 2730.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 35

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/wenjieg/Desktop/class/WinoCNN/inter.fsdb"
addSignal -h 15 -UNSIGNED -UDEC /top_test_2/file_data[31:0]
addSignal -h 15 /top_test_2/top_0/CIM_mem_top_0/mem_clk
addSignal -h 15 /top_test_2/top_0/CIM_mem_top_0/clk
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/CIM_mem_top_0/PE_tile_i_1[0:5]
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/CIM_mem_top_0/PE_addr_i_1[7:0]
addSignal -h 15 /top_test_2/top_0/CIM_mem_top_0/PE_valid_i_1
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/CIM_mem_top_0/CIM_addr_i_1[7:0]
addSignal -h 15 /top_test_2/top_0/CIM_mem_top_0/CIM_valid_i_1
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/CIM_mem_top_0/CIM_data_i_1[511:0]
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/CIM_mem_top_0/CIM_data_o_1[511:0]
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/CIM_mem_top_0/CIM_addr_o_1[7:0]
addSignal -h 15 /top_test_2/top_0/CIM_mem_top_0/CIM_valid_o_1
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/CIM_mem_top_0/PE_tile_i_1[0:5]
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/CIM_mem_top_0/PE_addr_i_1[7:0]
addSignal -h 15 /top_test_2/top_0/CIM_mem_top_0/PE_valid_i_1
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/CIM_mem_top_0/CIM_data_o_1[511:0]
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/CIM_mem_top_0/CIM_addr_o_1[7:0]
addSignal -h 15 /top_test_2/top_0/CIM_mem_top_0/CIM_valid_o_1
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/CIM_mem_top_0/CIM_data_i_1[511:0]
addSignal -h 15 /top_test_2/top_0/CIM_mem_top_0/CIM_valid_i_1
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/CIM_mem_top_0/CIM_addr_i_1[7:0]
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/CIM_mem_top_0/output_mem_top_1/PE_addr_1_in[7:0]
addSignal -h 15 /top_test_2/top_0/CIM_mem_top_0/output_mem_top_1/PE_package_1_valid_in
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/CIM_mem_top_0/output_mem_top_1/CIM_addr_1_in[7:0]
addSignal -h 15 /top_test_2/top_0/CIM_mem_top_0/output_mem_top_1/CIM_package_1_valid_in
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/CIM_mem_top_0/output_mem_top_1/CIM_data_1_in[511:0]
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/CIM_mem_top_0/output_mem_top_1/CIM_data_1_out[511:0]
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/CIM_mem_top_0/output_mem_top_1/CIM_addr_1_out[7:0]
addSignal -h 15 /top_test_2/top_0/CIM_mem_top_0/output_mem_top_1/CIM_package_1_valid_out
addSignal -h 15 -UNSIGNED /top_test_2/top_0/CIM_mem_top_0/output_mem_top_1/local_scan_mode[1:0]
addSignal -h 15 /top_test_2/top_0/CIM_mem_top_0/output_mem_top_1/CIM_package_1_valid_in_reg
addSignal -h 15 /top_test_2/top_0/CIM_mem_top_0/output_mem_top_1/output_SRAM/memory[127:0]
addSignal -h 15 /top_test_2/top_0/CIM_mem_top_0/output_mem_top_1/sram_WEN_1
addSignal -h 15 -UNSIGNED -UDEC /top_test_2/top_0/CIM_mem_top_0/output_mem_top_1/sram_addr_1[6:0]
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/CIM_mem_top_0/output_mem_top_1/sram_input_1[511:0]
addSignal -h 15 -UNSIGNED -HEX /top_test_2/top_0/CIM_mem_top_0/output_mem_top_1/sram_output_1[511:0]
addGroup "G2"
addGroup "G3"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

