Magic 271485
Revision Verdi_V-2023.12-SP2-1

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 2243 1019 353 151

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/wenjieg/Desktop/class/WinoCNN/inter.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 2476.434060 2805.134563
cursor 0.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 18

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/wenjieg/Desktop/class/WinoCNN/inter.fsdb"
addSignal -h 15 /data_mem_top_test/clk
addSignal -h 15 /data_mem_top_test/reset
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/total_od_i[7:0]
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/weight_od1_i[7:0]
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/weight_id_i[3:0]
addSignal -h 15 /data_mem_top_test/weight_main_valid_i
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/scan_in[511:0]
addSignal -h 15 /data_mem_top_test/scan_mode
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/scan_addr[7:0]
addSignal -h 15 /data_mem_top_test/result_tile_o_1[5:0]
addSignal -h 15 /data_mem_top_test/result_tile_o_2[5:0]
addSignal -h 15 /data_mem_top_test/weight_valid_o_1
addSignal -h 15 /data_mem_top_test/weight_valid_o_2
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/weight_od1_o[7:0]
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/weight_od2_o[7:0]
addGroup "G2"
addSignal -h 15 /data_mem_top_test/weight_mem_controller_top_0/data_mem_top_inst/data_SRAM/memory[127:0]
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/weight_mem_controller_top_0/data_mem_top_inst/addr_1_in[7:0]
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/weight_mem_controller_top_0/data_mem_top_inst/addr_2_in[7:0]
addSignal -h 15 /data_mem_top_test/weight_mem_controller_top_0/data_mem_top_inst/package_1_valid_in
addSignal -h 15 /data_mem_top_test/weight_mem_controller_top_0/data_mem_top_inst/package_2_valid_in
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/weight_mem_controller_top_0/data_mem_top_inst/data_1_out[511:0]
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/weight_mem_controller_top_0/data_mem_top_inst/data_2_out[511:0]
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/weight_mem_controller_top_0/data_mem_top_inst/addr_1_out[7:0]
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/weight_mem_controller_top_0/data_mem_top_inst/addr_2_out[7:0]
addSignal -h 15 /data_mem_top_test/weight_mem_controller_top_0/data_mem_top_inst/package_1_valid_out
addSignal -h 15 /data_mem_top_test/weight_mem_controller_top_0/data_mem_top_inst/package_2_valid_out
addGroup "G3"
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/weight_mem_controller_top_0/weight_controller_inst/weight_data_i_1[511:0]
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/weight_mem_controller_top_0/weight_controller_inst/weight_data_i_2[511:0]
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/weight_mem_controller_top_0/weight_controller_inst/weight_addr_i_1[7:0]
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/weight_mem_controller_top_0/weight_controller_inst/weight_addr_i_2[7:0]
addSignal -h 15 /data_mem_top_test/weight_mem_controller_top_0/weight_controller_inst/weight_valid_i_1
addSignal -h 15 /data_mem_top_test/weight_mem_controller_top_0/weight_controller_inst/weight_valid_i_2
addSignal -h 15 /data_mem_top_test/weight_mem_controller_top_0/weight_controller_inst/result_tile_o_1[5:0]
addSignal -h 15 /data_mem_top_test/weight_mem_controller_top_0/weight_controller_inst/result_tile_o_2[5:0]
addSignal -h 15 /data_mem_top_test/weight_mem_controller_top_0/weight_controller_inst/weight_valid_o_1
addSignal -h 15 /data_mem_top_test/weight_mem_controller_top_0/weight_controller_inst/weight_valid_o_2
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/weight_mem_controller_top_0/weight_controller_inst/weight_od1_o[7:0]
addSignal -h 15 -UNSIGNED -HEX /data_mem_top_test/weight_mem_controller_top_0/weight_controller_inst/weight_od2_o[7:0]
addGroup "G4"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

